@import "../color-config.scss";

@media screen and (min-width: 560px) {
  .footermain {
    display: flex;
    flex-direction: column;
    z-index: 50;
    margin-top: -60px;
  }

  .footer-wave {
    width: 100%;
    z-index: 50;
  }
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $footerbar-color;
    padding: 2rem 0;
    gap: 2rem;

    font-family: $font;

    .footer-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      gap: 2rem;
    }

    .footer-logo {
      background-image: url(/assets/svg/logo.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 250px;
      height: 100px;
      transition: all 0.15s ease-in-out;

      &:hover {
        transform: scale(0.9);
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .section-title {
        font-size: 1rem;
        color: $color-light;
      }
      .separator {
        width: 100%;
        border-bottom: solid 1px $color-light;
        opacity: 0.2;
        margin-bottom: 1rem;
      }
      .section-text {
        max-width: 26ch;
        font-size: 1rem;
        color: $color-light;
      }
      .section-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        gap: 1rem;
        list-style: none;

        .section-item,
        a {
          width: fit-content;
          font-family: $font;
          font-size: 1rem;
          color: $color-light;
          transition: all 0.15s ease-in-out;

          .underline-animation {
            display: inline-block;
            position: relative;
            color: $color-light;
          }

          .underline-animation::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: $color-light;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }

          .underline-animation:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }

    .spacing {
      min-width: 150px;
      width: 10%;
    }

    .copyright {
      font-family: $font;
      font-size: 0.8rem;
      font-weight: 300;
      color: $color-light;
      text-align: center;
    }
  }
}

@media screen and (max-width: 720px) {
  .footermain {
    display: none;
  }
}
