@import "../color-config.scss";

.header-main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 0rem 2rem;
  top: 0;
  background-color: $navbar-color;
  background-size: cover;
  z-index: 99;

  @media screen and (max-width: 720px) {
    padding: 0rem 0rem;
  }
}

.logo {
  width: 5rem;
  content: url(/assets/svg/logo.svg);
  transition: 0.5s;

  &:hover {
    transform: scale(0.9);
    transition: 0.5s;
  }
  @media screen and (max-width: 720px) {
    padding: 0 0 0 1rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  cursor: pointer;

  .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    align-items: center;

    @media screen and (max-width: 720px) {
      display: none;
    }

    li {
      list-style: none;
      font-family: $font;
      font-weight: 300;
      font-size: 1rem;
      color: $nav-linkname;
      height: 100%;

      .mainLink {
        text-decoration: none;
        color: $nav-linkname;
        font-weight: 500;
        padding: 30px 0;
      }

      .underline-animation {
        display: inline-block;
        position: relative;
        color: $nav-linkname;
      }

      .underline-animation::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 20px;
        left: 0;
        background-color: $nav-linkname;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .dropLink {
        text-decoration: none;
        max-width: 260px;
      }
    }
  }

  ul {
    list-style-type: none;
    li {
      .dropdown-content {
        display: none;
        position: absolute;
        background: $nav-dropdown;
        right: 0;
        margin-right: 2rem;
        box-shadow: 0px 0px 32px -8px rgba(10, 10, 10, 0.1);
        border: solid 1px #10101025;
        border-radius: 0.5rem;
        padding: 1rem;
        z-index: 1;
      }

      .dropdown {
        display: flex;
        flex-direction: column;
      }

      .nav_droplink_arrow {
        transform: rotate(-180deg);
        transition: 0.5s;
      }

      .nav_dropdown_descritpion_text {
        font-size: 0.8rem;
        font-weight: 300;
        color: $nav-description;
        margin-top: 0.5rem;
      }
    }
  }

  .dropdown-content .dropLink {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    text-decoration: none;
    text-align: left;

    border-radius: 0.5rem;

    &:hover {
      background-color: $nav-dropdown-hover;
    }

    .nav_dropdown_descritpion_title {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: $nav-title;
    }
  }

  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .dropdown:hover .nav_droplink_arrow {
    transform: rotate(0deg);
    transition: 0.5s;
  }
}
.sign-in {
  display: flex;
  background: url(assets/svg/account-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.navbtnmobile {
  display: none;
  @media screen and (max-width: 720px) {
    display: flex;
    margin-right: 80px;
    gap: 1rem;
  }

  .reservation {
    display: flex;
    background: url(assets/svg/reservations-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
  }
  .admin {
    display: flex;
    background: url(assets/svg/admin-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
  }
}
