@import "./color-config.scss";

.admin-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;

  @media screen and (max-width: 559px) {
    min-height: 80vh;
  }

  h1 {
    font-size: 40px;
  }

  .buttons {
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin-top: 32px;
    border-radius: 8px;
    color: $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .blue-button {
    background-color: $color-primary-light;
  }

  .blue-button:hover {
    background-color: $color-primary;
  }

  .grey-button {
    background-color: $color-grey;
  }

  .grey-button:hover {
    background-color: $color-grey-hover;
  }
}
