@import "./color-config";

.add-bornes-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 80px;
  @media screen and (max-width: 549px) {
    justify-content: flex-start;
  }
  .upload-card {
    max-width: 80rem;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    @media screen and (max-width: 549px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      color: $color-white;
      margin-bottom: 2rem;
      text-align: center;
    }

    .upload {
      background-image: url("./assets/svg/upload.svg");
      width: 70%;
      max-height: 300px;
      height: 20rem;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      margin: auto;
      @media screen and (max-width: 549px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      &_DragDrop,
      &_form {
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        width: 40%;
        @media screen and (max-width: 980px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-bottom: 1rem;
          width: 50%;
        }
        @media screen and (max-width: 549px) {
          width: 100%;
          margin-top: 4rem;
          padding-bottom: 1rem;
        }
      }
      .upload_DragDrop_text {
        display: flex;
        align-items: flex-end;
        text-align: center;
        width: 50%;
        @media screen and (max-width: 549px) {
          width: 100%;
        }
      }
      .upload_form_input {
        display: flex;
        align-self: flex-end;
        padding-bottom: 0.5rem;
      }
    }

    button {
      max-width: 300px;
      width: 100%;
      height: 40px;
      border-radius: 12px;
      border: 0;
      font-size: 1rem;
      color: $color-white;
      margin: 0.5rem;
      @media screen and (max-width: 549px) {
        width: 80%;
      }
    }
    .buttons-container {
      margin-top: 2rem;
      width: 100%;
      text-align: center;
      gap: 0.5rem;

      &_blue {
        background-color: $color-primary-light;
      }

      &_blue:hover {
        background-color: $color-primary;
      }

      &_dark {
        background-color: $color-primary;
      }

      &_dark:hover {
        background-color: $color-black;
      }
    }
  }
}
