@import "./color-config.scss";

.borneListPage {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 110vh;
  padding: 1rem;

  .filterBorne {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 2rem;

    &_Filter {
      border-radius: 0.5rem;
      overflow: hidden;
      @media screen and (max-width: 559px) {
        display: none;
      }
    }

    @media screen and (max-width: 980px) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  .bornesContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-bottom: 2rem;

    .bornecard {
      display: flex;
      width: auto;
    }
  }
}

@media screen and (max-width: 390px) {
  .bornesContainer {
    height: 100%;
  }
}
.prevnext {
  width: 100%;
  display: flex;
  justify-content: center;
  .secondary-button {
    display: flex;
    padding: 0.6rem 1.2rem;
    background-color: $color-grey;
    border-radius: 0.6rem;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-family: $font;
    color: $color-light;
    text-align: center;
    font-size: 1rem;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(0.95);
      background-color: $color-grey-hover;
    }
  }
}
