
// Colors
$color-primary: #19776D;
$color-primary-light: #21A89A;
$color-secondary: #55963C;
$color-secondary-light: #7CD858;
$color-white: #E5E9E7;
$color-white-hover: #c9c9c9;
$color-light: #fefefe;
$color-light-hover: #efefef;
$color-black: #101010;
$color-grey: #525B5A;

// Pages 
$bg-color: $color-black;
$font: 'Hanken Grotesk', 'Roboto', 'SF Pro Text', sans-serif;


// Navigation Bar Web
$navbar-color: $color-primary;
$nav-linkname: $color-light;
$nav-dropdown: $color-light;
$nav-dropdown-hover: $color-light-hover;
$nav-title: $color-primary;
$nav-description: $color-black;


// Navigation Bar Mobile
$navmobile-color: $color-primary;
$navmobile-linkname: $color-light;
$navmobile-linkname-hover: $color-primary-light;

// Footer Bar
$footerbar-color: $color-primary;