// Colors
$color-primary: #19776d;
$color-primary-light: #21a89a;
$color-secondary: #55963c;
$color-secondary-light: #7cd858;
$color-white: #e5e9e7;
$color-white-hover: #c9c9c9;
$color-light: #fefefe;
$color-light-hover: #efefef;
$color-black: #101010;
$color-grey: #525b5a;

// Pages
$bg-color: $color-black;
$font: "Hanken Grotesk", "Roboto", "SF Pro Text", sans-serif;

// Navigation Bar Web
$navbar-color: $color-primary;
$nav-linkname: $color-light;
$nav-dropdown: $color-light;
$nav-dropdown-hover: $color-light-hover;
$nav-title: $color-primary;
$nav-description: $color-black;

// Navigation Bar Mobile
$navmobile-color: $color-primary;
$navmobile-linkname: $color-light;
$navmobile-linkname-hover: $color-primary-light;

// Footer Bar
$footerbar-color: $color-primary;
