.filters_container {
  border-radius: 0rem;
  height: 100vh;
  min-height: 720px;

  @media screen and (max-width: 980px) {
    height: 100%;
    border-radius: 0rem;
  }
  @media screen and (max-width: 720px) {
    height: 120vh;
    border-radius: 0rem;
  }
}
