@import "./color-config.scss";

.myVehicule_allpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;

  .vehicule_card_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    gap: 2rem;
    flex-wrap: wrap;

    .vehicule_card {
      background-color: $color-grey;
      color: $color-light;
      border-radius: 20px;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      .form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 559px) {
          flex-direction: column;
        }
        .form_placeholder_title {
          margin: 1%;
          width: 40%;
        }
        .form_placeholder_input {
          margin: 1%;
          width: fit-content;
        }
      }
      &_button_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
        @media (max-width: 559px) {
          display: flex;
          flex-direction: column;
        }
        button {
          @media (max-width: 559px) {
            display: flex;
            flex-direction: column;
            width: fit-content;
            font-size: small;
          }
        }
      }
    }
  }
  .final_Button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 2rem;
    @media (max-width: 559px) {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    button {
      display: flex;
      padding: 0.6rem 1.2rem;
      background-color: $color-primary;
      border-radius: 0.6rem;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
      font-family: $font;
      color: $color-light;
      text-align: center;
      font-size: 1rem;
      transition: transform 0.1s ease-in-out;
      border: none;
    }
  }
}
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 42%;
  border-radius: 4rem;

  .container_button {
    width: 50%;
    display: flex;
    justify-content: center;

    .yes {
      margin-right: 4%;
      padding: 0.6rem 1.2rem;
      width: fit-content;
      height: fit-content;
      background-color: $color-primary-light;
      border-radius: 0.6rem;
      justify-content: center;
      border: none;
      text-decoration: none;
      font-family: $font;
      color: $color-light;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      transition: transform 0.1s ease-in-out;

      &:hover {
        transform: scale(0.95);
        background-color: $color-primary;
        color: $color-light;
      }
    }
    .no {
      margin-left: 4%;
      padding: 0.6rem 1.2rem;
      background-color: $color-grey;
      border-radius: 0.6rem;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
      font-family: $font;
      color: $color-light;
      text-align: center;
      font-size: 1rem;
      transition: transform 0.1s ease-in-out;
      border: none;
      &:hover {
        transform: scale(0.95);
        background-color: $color-grey-hover;
      }
    }
  }
}
