.container {
  display: flex;
  flex-direction: column;
  max-width: 132ch;
  width: 80%;
  gap: 3rem;
  margin: 150px auto 50px;

  h1 {
    font-family: var(--font);
    color: var(--color-black);
    font-size: 1.8rem;
    text-align: center;
    width: fit-content;
  }
  .separator {
    border: solid 1px var(--color-gold-hover);
  }

  .massageinfo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .info {
      font-family: var(--font);
      color: var(--color-grey);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .subtitle {
    font-family: var(--font);
    color: var(--color-black);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.8rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .subtitle {
      font-family: var(--font);
      color: var(--color-black);
      font-size: 1.2rem;
      font-weight: 600;
      text-align: left;
      margin-bottom: 0.5rem;
    }
    .paragraphe {
      font-family: var(--font);
      color: var(--color-grey);
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      list-style: inside;

      a {
        font-family: var(--font);
        color: var(--color-gold-link);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        list-style: inside;
        text-decoration: none;

        &:hover {
          color: var(--color-gold-hover);
        }
      }
    }
    .picture-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      @media (max-width: 449px) {
        flex-direction: column;
      }

      .picture {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;
      }
    }
  }

  //Massages pages

  .listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

    .listcontent {
      display: flex;
      flex-direction: column;

      .listdetail {
        font-family: var(--font);
        color: var(--color-grey);
        font-size: 0.95rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        list-style-type: none;
        padding-left: 1rem;
      }
    }
  }
}

//error pages
section {
  display: flex;
  flex-direction: column;
  margin: 100px 0 50px;
  height: 90vh;
  justify-content: center;
  width: 100%;

  .containererror {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1 {
      font-family: var(--font);
      color: var(--color-black);
      font-size: 2rem;
      text-align: center;
      width: fit-content;
    }
    .message {
      font-family: var(--font);
      color: var(--color-grey);
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
    }

    .btn-return {
      display: flex;
      justify-content: center;
      width: fit-content;
      margin: auto;
      padding: 0.5rem 1rem;
      background-color: var(--color-black);
      border: none;
      border-radius: 0.6rem;
      font-family: var(--font);
      color: var(--color-white);
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey);
        transform: scale(0.9);
      }
    }
  }
}
